@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* REGLAS GLOBALES */
/**,:after,:before {
    box-sizing: inherit/*hereda el estilo que se le aplique*/
*/

* {box-sizing: border-box;
}

.mySlides {
  display: none}

img {
  vertical-align: middle;}

html {
    font-size: 62.5%;
    box-sizing: border-box
}

body {
    font-family: 'La Belle Aurore', cursive;
    font-size: 2.2rem;
    line-height: 1.8;
    z-index:1;
}

a {
    text-decoration: none
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto
}

img,picture {
    width: 100%;
    display: block
}

h1,h2,h3 {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 2.5rem 0;
  font-weight: 300;
}

body{
  font-family:'La Belle Aurore', cursive ;
  background-color: #f8cbbe;
}

img{
  width: 100%;
}

/*comienza hamburguesa*/

.main-nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	margin-left: -100%;
	transition: all .2s linear;
	background-color: rgba(0,0,0,.7);
	z-index: 100;
}
  
.main-nav.show{
	margin-left: 0;
}
  
.nav-links{
	background-color: rgb(206 202 205);
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20%;
  text-decoration: none;
}

#list {
  list-style-type: none;
}
  
.nav-links a{
	margin-top: 2rem;
	color: black;
  line-height: 65px;
	font-weight: bold;
	position: relative;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
  
.nav-links a:hover, a:focus {
  background-size: 100% 2px;
  color: #0f9154;
  padding: 4px;
}

.nav-links a::after {
	position: absolute;
	content: "";
	background-color: black;
	bottom: -5px;
	left: 0;
	width: 0%;
	height: 3px;
	transition: 0.3s ease all;
  }
  
.nav-links:hover::after {
	width: 100%;
  }
  
  /*boton de hamburguesa*/
#button-menu{
  position: absolute;
	z-index: 200;
	width: 40px;
	height: 40px;
	border: none;
	display: flex;
	background: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
  margin: 5px;
  }
  

#button-menu span{
	width: 37px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #444444;
	border-radius: 3px;
	transform-origin: 4px 0px;
	transition: all .2s linear;
  }

  
#button-menu.close span {
	opacity: 1;
	transform: rotate(45deg) translate(0px, 0px);
	background: #ffffff;
  }
  
#button-menu.close span:nth-child(2){
	transform: rotate(-45deg) translate(-8px, 5px);
  }
  
#button-menu.close span:nth-child(3){
	display: none;
  }

/*termina navegador*/

/*empieza main*/

.menu img{
  padding-bottom: 15px;
  padding-top: 15px;
}

.enlace a {
  color: black;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
  padding: 7px;
}
.enlace{
  text-align: center; 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 15px;
  align-items: center;
}

 
#abajo{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 2px;
  border: 2px outset #2abc73;
  border-radius: 19px;
  padding-top: 8px;
  text-decoration: none;
  color: #0a0a0a;
  scroll-behavior: smooth;
    } 

 #abajo a {
  padding:5px ;
  text-decoration: none;
  color: #0a0a0a;
   }
   
 /*boton selecionar*/ 

span.boton{
  background-color: #f2f2c7;
  border: 1px solid #0a0a0a;
  border-radius: 22px;
  box-shadow: 1px -1px #1c1616;
  padding: 10px  10px;
  color: black;
  display: inline-block;
  width: fit-content; 
  font-size: 1.8rem;
  line-height: 10px;
  padding: 20px;
  
}

#bebes:hover{
  background-color:rgb(240, 191, 158)
}

#nina:hover{
  background-color: #e0afbf;
}

span.boton:hover{
  background-color: #a9cddc;
}


/*tarjeta regalo*/

.tarjeta{
  font-family: 'Barlow Condensed', sans-serif;
 text-align: center;
 padding-bottom: 10px;
}

.tarjeta img{
  width: 40%;
  display: block;
  margin: auto;
  }

/*empieza el footer*/
footer{
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #cecacd;
  
}
footer p{
  font-size: 2rem;
}

.escaparate{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 20px;
 
}
.escaparate div{
  
  width: 100%;
  text-align: center;
}

.tlf{
  padding-left:15px;
  padding-right: 12px;
  font-size: 35px;
}

.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  
}
.icon-phone a:hover{
  background-color: #0a0a0a;
  padding: 5px;
  border-radius: 10px;
  color:white
}

 @media (min-width: 768px) {
  .enlace{
    display: flex;
    flex-direction: row;
     }

  .escaparate{
    display: flex;
    flex-direction: row;

  }

  .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
span.boton{ 
  font-size: 3.8rem;

}

.nav-links ul li a{
  font-size: 4rem;
  }

.nav-links{
	background-color: rgb(206 202 205);
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  padding-top: 0%;
}

.nav-links a{
	margin-top: 2rem;
	color: black;
  line-height: 65px;
	font-weight: bold;
	position: relative;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  }
  
.nav-links a:hover, a:focus {
  background-size: 100% 2px;
  color: #0f9154;
  padding: 4px;
}
 }